# Node.js
/node_modules/
npm-debug.log
yarn-error.log

# Laravel
/vendor/
bootstrap/compiled.php
app/storage/
public/storage
public/hot
public_html/storage
public_html/hot

# Environment and configuration files
.env
.env.backup
.env.production
Homestead.yaml
Homestead.json
.phpunit.result.cache
.phpunit.cache

# Other
/.vagrant
.phpactor.json
auth.json
/.fleet
/.idea
/.vscode
/.zed

# Public build artifacts
/public/build

